.class-card {
  background-color: white;
  width: 28%;
  height: 120px;
  margin: 16px 8px;
  padding: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.class-avatar {
  height: 80px;
  width: 80px;
  border-radius: 10%;
  background-color: black;
}

.class-top {
  display: flex;
}
.class-icons {
  display: flex;
  margin-top: 16px;
  justify-content: space-between;
  width: 40%;
}
.class-info {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.class-title {
  font-weight: 600;
}
.class-subtitle {
  font-size: 12px;
  margin: 6px 0px;
}
