.class-card {
  background-color: white;
  width: 30%;
  height: 120px;
  margin: 16px 8px;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 8px 8px 8px #eee;
  cursor: pointer;
}

.class-card  label {
  cursor: pointer;
}

.class-card-avatar {
  height: 88px;
  width: 88px;
  border-radius: 10%;
  background-color: black;
}

.class-card-icon {
  display: flex;
  font-size: 24px;
  font-weight: 600;
  z-index: 1;
}

.class-card-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.class-card-menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.class-card-content {
  display: flex;
  flex-direction: column;
}

.class-card-title {
  font-weight: 600;
}
.class-card-subtitle {
  font-size: 12px;
  margin: 6px 0px;
}
